.Reg-colour{
    color: rgb(172, 51, 51);
    font-family:Georgia, 'Times New Roman', Times, serif
    
}


.form-container {
    /* Adjust width if necessary */
    width: 100%;
    max-width: 600px; /* You can set a max-width if needed */
    border-radius: 0.25rem; /* Optional: rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Optional: add some shadow for better visual separation */
    background-color: beige;
}

.form-container .form-control {
    border-radius: 0.25rem; /* Ensure form controls have rounded corners to match the container */
}

